run.bat
*/__pycache__/*
.pytest_cache
*.log

*/dist
*/tmp
*/out-tsc
*/bazel-out

*/node_modules

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

Thumbs.db
